/*
 * Author: http://stuffandnonsense.co.uk/blog/about/hardboiled_css3_media_queries/
 */

/* Smartphones (portrait and landscape) ----------- */
@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 480px) {
/* Styles */
}

/* Smartphones (landscape) ----------- */
@media only screen 
and (min-width : 321px) {
/* Styles */
}

/* Smartphones (portrait) ----------- */
@media only screen 
and (max-width : 320px) {
/* Styles */
}

/* iPads (portrait and landscape) ----------- */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) {
/* Styles */
}

/* iPads (landscape) ----------- */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : landscape) {
/* Styles */
}

/* iPads (portrait) ----------- */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : portrait) {
/* Styles */
}

/* Desktops and laptops ----------- */
@media only screen 
and (min-width : 1224px) {
/* Styles */
	body{
		width:1150px;
	}
}

/* Large screens ----------- */
@media only screen 
and (min-width : 1450px) {
	body{
		width:1400px;
	}
}
/* Large screens ----------- */
@media only screen 
and (max-width : 900px) {
	body{
		width:100%;
	}
	main, header{
		width:90%;
		margin:auto;
	}
	#periodInfo, #transactionHistory{
		float: none;
		margin: auto;
		width:100%;
	}

	.volunteerContactInfo{
		right:1em;
	}
}
@media only screen 
and (max-width : 850px) {
	header{
		text-align: center;
	}
	header a{
		display: block;
	}
	#name{
		display: block;
		width:250px;
		margin:auto;
		text-align: center;
	}
	#volunteerHeader{
		padding:0 0 1em 1em;
	}
	.dateBlock span{
		position: inherit;
	}
	#volunteerHeader .dateDash{
		top:-30px;
	}
}
@media only screen 
and (max-width : 700px) {
	.volunteerContactInfo, #volunteerDates{
		display: block;
		text-align: center;
		position: static;
		margin: 0;
	}
}

/* iPhone 4 ----------- */
@media
only screen and (-webkit-min-device-pixel-ratio : 1.5),
only screen and (min-device-pixel-ratio : 1.5) {
/* Styles */
}