
@import url("../fonts/LeagueGothic/webfonts/stylesheet.css");
@import url("../fonts/Raleway/webfonts/stylesheet.css");
*{
	font-family: "Raleway"!important;
}
.inlineBlock{
	display: inline-block;
}
.dateDash{
	font-size: 20px; 
}

#infoMessageBox{
	width: 500px; 
	min-height:1em;
	margin-left: -250px;
	position: absolute; 
	left: 50%;
	top: 0px;
}
#infoMessageBox > div{
	text-align: center;
}
/*  Database creation page  */

#databaseCreationBox{
	width:30em;
	margin: 20em auto;
}
#databaseCreationBox a{
	width: 15em;
	display: block;
	margin: 1em auto!important;
}
#submitPersonForm li{
	list-style: none;
	display: inline-block;
}
#submitPersonForm label{
	margin: auto;
}
/* End database creation page  */

/*Calendar override */
.calendar_dates > li{
	background-color: #ddd!important;
	position: relative;
}
.calendar_today{
	border-bottom: 6px solid #31ADD2;
}
.calendarDayNumber{
	position: absolute;
	right:.5em;
	top:1em;
	font-size:.5em;
	line-height:.5em;
	color: #aaa;
}
.calendarNumberOfVolunteers{
	position: absolute;
	text-align: center;
	width:3em;
	margin-top: -.1em;
	margin-left:-1.5em;
	left:50%;
}
.calendarVolunteerText{
	font-size: 0.5em;
	position: absolute;
	width: 6em;
	margin-left: -3em;
	left:50%;
	bottom: -1.8em;
	color: #aaa;
}
/* End Calendar override */