
@import url("../fonts/LeagueGothic/webfonts/stylesheet.css");
@import url("../fonts/Raleway/webfonts/stylesheet.css");
*{
	font-family: "Raleway";
}
label{
	color:#424242;
}
html{
	padding: 0;
}
body{

}
main{
	margin:1em auto 0 auto; 
}
header{
	position: relative;
	padding-top: 1em;
	box-shadow: 0 -2px 5px #888888;
}
header h1{
	margin-top: 0;
}
header a:hover{
	color: #EEE;
}
header h1, header article{
	display: inline-block;
}
main, #headerContent{
	position: relative;
	width:900px;
	margin-left:auto;
	margin-right:auto;
}
.inlineBlock{
	display: inline-block;
}
.positionRelative{
	position: relative;
}
.dateDash{
	font-size: 2em; 
}
.clearFix{
	clear: both;
}
.padding1emtop{
	padding-top: 1em;
}
#infoMessageBox{
	width: 500px; 
	min-height:1em;
	margin-left: -250px;
	position: absolute; 
	left: 50%;
	top: 0px;
}
#infoMessageBox > div{
	text-align: center;
}
/*  Database creation page  */

#databaseCreationBox{
	width:30em;
	margin: 20em auto;
}
#databaseCreationBox a{
	width: 15em;
	display: block;
	margin: 1em auto!important;
}
#submitPersonForm{
	width:620px;
	margin: auto;
}
.inlineList li{
	list-style: none;
	display: inline-block;
}
#submitPersonForm label{
	margin: auto;
}
/* End database creation page  */
/* Volunteer Live Search */
#volunteerSearch{
	width:20em;
	position: absolute;
	right: 1em;
}
#volunteerSearch label, #volunteerSearch input{
	display: inline-block;
}
#volunteerSearch input{
	width:100%;
	border-radius: .5em;
	border:2px solid #787878;
	padding: .5em; 
}

#volunteerSearch li{
	list-style: none;
}
#volunteerSearch hr{
	position: absolute;
	left: 1em;
	right: 1em;
	z-index: 200;
	top:1em;
}
#volunteerSearch ul{
	position: absolute;
	padding: 1em;
	left:0;
	right:0;
	border-radius: 0 0 .5em .5em;
	border:2px solid #787878;
	border-top: 0;
	background-color: #FFF;
	color:#444;
	z-index: 100;
	margin-top: -.4em;
}
.activeSearch{
	border-color: #31add2;
}
#volunteerSearch .ignore{
	display: block!important;
}
/* End Volunteer Live Search*/
/*Calendar override */
#calendar .calendar_box{
	background-color: #424242;
}
.calendar_dates > li{
	background-color: #ddd!important;
	position: relative;
}
.calendar_today{
	border-bottom: 6px solid #31ADD2;
}
.calendarDayNumber{
	position: absolute;
	right:.5em;
	top:1em;
	font-size:.5em;
	line-height:.5em;
	color: #aaa;
}
.calendarNumberOfVolunteers{
	position: absolute;
	text-align: center;
	width:3em;
	margin-top: -.1em;
	margin-left:-1.5em;
	left:50%;
}
.calendarVolunteerText{
	font-size: 0.5em;
	position: absolute;
	width: 6em;
	margin-left: -3em;
	left:50%;
	bottom: -1.8em;
	color: #aaa;
}
/* End Calendar override */

/* Date overview */
td{
	padding: 0!important;
}
td > a{
	display: block;
	padding: 8px; 
}
td > a:hover{
	text-decoration: none;
}
tr:hover{
	background-color: #aaa!important;
}
/* End Date overview */
/* Volunteer Page */

.noActivePeriodText{
	text-align: center;
	padding:2em;
}
#volunteerHeader{
	border-bottom: 2px solid #AAA;
	position: relative;
}
#volunteerHeader h1{
	text-transform: capitalize;
}
#volunteerDates{
	display: inline-block;
}
.dateBlock{
	font-size: 1.5em;
	margin-left: 1em; 
	width:6em;
}
.dateBlock span{
	position: absolute;
	top:1.2em;
}
.volunteerContactInfo{
	font-size: 1.2em;
	position: absolute;
	bottom:1em;
	right:0;
	margin-left: 1em;
}
.volunteerContactInfo, .volunteerContactInfo > *{
	display: inline-block;
}
.volunteerContactInfo > *:nth-child(3){
	margin-left:1em;
}
#volunteerHeader .dateDash{
	position: absolute;
	top:-33px;
}
#periodInfo, #transactionHistory{
	width: 50%;
	float: left;
}
#periodInfo{

}
#transactionHistory{
	width: 50%;
}
#showDeletedButton{
	position: absolute;
	right:0;
}
#volunteerNotes{
	padding-right: 1em;
}
#volunteerNotes > .edit{
	padding: 1em;
	border-radius: 3px;
	height:300px;
	overflow-y: scroll;
	background-color: #EEE;
	border-bottom-style: none;
}
#contractSigned{
	position: relative;
	padding-top:1em;
	width: 20em;
	margin: auto;
}
#contractSigned span{
	font-size: 2em;
	display: inline-block;
	height: 1.2em;
}
#contractSigned .checkBox{
	position: absolute;
	margin: 0.1em 0 0 0.4em;
}
.checkBox{
	width:1.2em;
	background-color: #DDD;
	border:1px solid #BBB;
	display: inline-block;
	border-radius: .1em;
}
.checked{
	width:auto;
	height:100%;
	margin-top:-0.5em;
}
.hidden{
	display: none;
}
.checkBox:hover{
	cursor: pointer;
}
#transactionDate{
	width:90px;
}
#transactionAmount{
	width:90px;
}
#transactionSubmit{
	margin-top: .5em;
}
#submitTransactionForm ul{
	padding-left:0!important;
}
#transactionHistorytable{
	margin-bottom: .5em;
}
#transactionHistoryTable .editable{
	display: inline-block;
}
.transactionAmount{
	width:4em;
	text-align: right;
}
.transactionTrash{
	width:6em;
	position: relative;
	text-align: center;
}
.transactionTrash:hover{
	cursor: pointer;
}
.transactionTrash:hover .trashCan{
    background-position: 0 -14px; 
}
.transactionTrash .trashCan{
	background-image: url("../img/trash.png");
	background-repeat: no-repeat;
	width: 14px;
	height:14px;
	display: inline-block;
	position: absolute;
	top:.2em;
	left:2.5em;
}
.restore{
	color: #333;
}
.transactionTrash:hover .restore{
	color:#85e61e;
}
#transactionHistoryTotal{
	font-size: 2em;
	text-align: center;
	margin-top: 1.5em;
}
.deletedTransaction{
	color: #e61e25;
}
/* End volunteer page */